@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>@ViewBag.Title</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/dashboard.css" rel="stylesheet">

    @if (IsSectionDefined("HeaderStyles"))
    {
        @RenderSectionAsync("HeaderStyles", false).GetAwaiter().GetResult()
    }

    @if (IsSectionDefined("HeaderScripts"))
    {
        @RenderSectionAsync("HeaderScripts", false).GetAwaiter().GetResult()
    }
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a asp-controller="Admin" asp-action="Index" class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">@ViewBag.SiteName</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Выйти</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Index" class="nav-link active">
                                <span data-feather="home"></span>
                                Панель управления
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Testing" asp-action="Index" class="nav-link">
                                <span data-feather="file"></span>
                                Перейти к тестам
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Результаты тестирований</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a asp-controller="AdminQuizResults" asp-action="ShowList" asp-route-showAll="false" class="nav-link">
                                <span data-feather="filter"></span>
                                Мои тесты
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="AdminQuizResults" asp-action="ShowList" asp-route-showAll="true" class="nav-link">
                                <span data-feather="list"></span>
                                Все тесты
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Тесты</span>
                        <a asp-controller="AdminQuizzes" asp-action="CreateQuiz" class="d-flex align-items-center text-muted">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a asp-controller="AdminQuizzes" asp-action="CreateQuiz" class="nav-link">
                                <span data-feather="file-plus"></span>
                                Добавить тест
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="AdminQuizzes" asp-action="ImportQuiz" class="nav-link">
                                <span data-feather="upload"></span>
                                Импорт теста
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="AdminQuizzes" asp-action="ShowList" asp-route-showAll="false" class="nav-link">
                                <span data-feather="filter"></span>
                                Мои тесты
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="AdminQuizzes" asp-action="ShowList" asp-route-showAll="true" class="nav-link">
                                <span data-feather="list"></span>
                                Все тесты
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Пользователи</span>
                        <a asp-controller="AdminUsers" asp-action="CreateUser" class="d-flex align-items-center text-muted">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a asp-controller="AdminUsers" asp-action="CreateUser" class="nav-link">
                                <span data-feather="file-plus"></span>
                                Добавить пользователя
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="AdminUsers" asp-action="ShowList" class="nav-link">
                                <span data-feather="list"></span>
                                Все пользователи
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Роли</span>
                        <a asp-controller="AdminRoles" asp-action="CreateRole" class="d-flex align-items-center text-muted">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a asp-controller="AdminRoles" asp-action="CreateRole" class="nav-link">
                                <span data-feather="file-plus"></span>
                                Добавить роль
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="AdminRoles" asp-action="ShowList" class="nav-link">
                                <span data-feather="list"></span>
                                Все роли
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>
        
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script>feather.replace();</script>

    @if (IsSectionDefined("FooterScripts"))
    {
        @RenderSectionAsync("FooterScripts", false).GetAwaiter().GetResult()
    }

</body>
</html>