<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>@ViewBag.Title</title>
    
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    @if (IsSectionDefined("HeaderStyles"))
    {
        @RenderSectionAsync("HeaderStyles", false).GetAwaiter().GetResult()
    }

    @if (IsSectionDefined("HeaderScripts"))
    {
        @RenderSectionAsync("HeaderScripts", false).GetAwaiter().GetResult()
    }
</head>
<body class="text-center">

    @RenderBody()
    
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script>feather.replace()</script>

    @if (IsSectionDefined("FooterScripts"))
    {
        @RenderSectionAsync("FooterScripts", false).GetAwaiter().GetResult()
    }

</body>
</html>