@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using TestingWebApplication.Data.Repository.Model
@using TestingWebApplication.Data.Shared
@model TestingWebApplication.Data.Repository.Model.GeneratedQuizModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Тестирование";
    var startTimestamp = new DateTimeOffset(Model.StartTime.AddSeconds(Model.SourceQuiz.TotalTimeSecs)).ToUnixTimeMilliseconds();
}

<h1>Тестирование - @Model.SourceQuiz.Title</h1>

<div>Времени осталось: <span id="timer">@startTimestamp</span></div>
<br />

<div class="container">
    <div class="row">
        @using (Html.BeginForm("QuizPublish", "TestingApi", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id)
            for (var i = 0; i < Model.SourceQuiz.QuizBlocks.Count; ++i)
            {
                var currentQuizBlock = Model.SourceQuiz.QuizBlocks[i];

                <div class="col">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            @Html.HiddenFor(m => m.SourceQuiz.QuizBlocks[i].Id)
                            <h3 class="panel-title">@currentQuizBlock.Question.Text</h3>
                        </div>
                        <div class="panel-body">
                            @for (var j = 0; j < currentQuizBlock.Answers.Count; ++j)
                            {
                                var currentAnswerBlock = currentQuizBlock.Answers[j];

                                <div>
                                    @Html.HiddenFor(m => m.SourceQuiz.QuizBlocks[i].Answers[j].Id)
                                    <label>
                                        @if (currentAnswerBlock.AnswerType == AnswerBlockType.Radio)
                                        {
                                            @Html.RadioButton(Html.NameFor(m => m.SourceQuiz.QuizBlocks[i].UserAnswer), j)
                                            @currentAnswerBlock.Text
                                        }
                                        else if (currentAnswerBlock.AnswerType == AnswerBlockType.Checkbox)
                                        {
                                            @Html.CheckBox(Html.NameFor(m => m.SourceQuiz.QuizBlocks[i].UserAnswer), j)
                                            @currentAnswerBlock.Text
                                        }
                                        else if (currentAnswerBlock.AnswerType == AnswerBlockType.Text)
                                        {
                                            @Html.TextBox(Html.NameFor(m => m.SourceQuiz.QuizBlocks[i].UserAnswer))
                                            break;
                                        }
                                    </label>
                                </div>
                            }
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="btn btn-primary" role="button">Подтвердить</a>
                            <a href="#" class="btn btn-default" role="button">Пропустить</a>
                        </div>
                    </div>
                </div>
            }

            <input type="submit" value="Закончить" />
        }
    </div>
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.jslatex.min.js"></script>
<script src="~/js/jquery.timer.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<script>
    $(".latex").latex();
    $("#timer").timered();
</script>
